<div class="row">
    <div class="col-xs-12">
        Search: <input type="text" ng-model="query">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Order By:
        <select ng-model="ordering">
            <option value="GrName">Name</option>
            <option value="GrAddress">Address</option>
            <option value="Degree">Score</option>
            <option value="PriceFrom">Price</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a ng-repeat="hotel in hotels | filter: query | orderBy: ordering" href="#/hotels/{{hotel.REC_Id}}">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" class="alphaguide-list-table">
                <tbody>
                <tr class="head">
                    <td>
                        <span class="title">{{hotel.GrName}}</span>
                    </td>
                    <td style="text-align:right;">
                        <span class="prize hat">{{hotel.GoldenCaps}}</span>
                        <span class="votes">{{hotel.Degree}}</span><span class="vote-max">20</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="category">{{hotel.TCAT_GRDESCR}}</span><br>
                        <b>Τηλ:</b></span>
                        <b>Ανοικτά:</b> {{hotel.GrOpenPeriod}}
                    </td>
                    <td style="text-align:right;">
                        <span class="nomos">{{hotel.ParentAreaName}}</span><br>
                        <span class="topos">{{hotel.D_Description}}</span><br>
                        <span class="price">{{hotel.PriceFrom}} - {{hotel.PriceTo}} &euro;</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </a>
    </div>
</div>
