html, body{
    height: 100%;
}
.background-container{
    min-height: 100%;
    width:100%;
    background: transparent url('../img/alphaguide-bckg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
ion-nav-view, .pane, .view{
    background-color:transparent;
}
