<!--
  This template loads for the 'tab.hotel-detail' state (app.js)
  'restaurant' is a $scope variable created in the hotelscontroller (controllers.js)
  The RestaurantsCtrl pulls data from the Restaurants service (service.js)
  The Restaurants service returns an array of restaurant data
-->

<ion-view title="{{hotel.GrName}}">
    <ion-content has-header="true" padding="true">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" class="alphaguide-list-table detail-page">
            <tbody>
            <tr class="head">
                <td>
                    <span class="title">{{hotel.GrName}}</span>
                </td>
                <td style="text-align:right;">
                    <span ng-bind-html="hotel.KEYS"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="border-bot">
                    <span class="category">{{hotel.TCAT_GRDESCR}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span ng-bind-html="hotel.GrAddress"></span>
                    <b>Τηλ:</b> <span ng-bind-html="hotel.PhoneNo"></span>
                    <b>Ανοικτά:</b> <span ng-bind-html="hotel.GrOpenPeriod"></span>
                    <b>Δωμάτια:</b> <span ng-bind-html="hotel.GrRooms"></span>
                </td>
                <td style="text-align:right;">
                    <span class="nomos">{{hotel.ParentAreaName}}</span><br>
                    <span class="topos">{{hotel.D_Description}}</span><br>
                    <span class="price">{{hotel.PriceFrom}} - {{hotel.PriceTo}} &euro;</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="facilities">
                    <span ng-bind-html="hotel.AirConditioning"></span>
                    <span ng-bind-html="hotel.Parking"></span>
                    <span ng-bind-html="hotel.CreditCards"></span>
                    <span ng-bind-html="hotel.RoomTV"></span>
                    <span ng-bind-html="hotel.MiniBar"></span>
                    <span ng-bind-html="hotel.Restaurant"></span>
                    <span ng-bind-html="hotel.Bar"></span>
                    <span ng-bind-html="hotel.Business"></span>
                    <span ng-bind-html="hotel.Conference"></span>
                    <span ng-bind-html="hotel.InDoorPool"></span>
                    <span ng-bind-html="hotel.PrivateBeach"></span>
                    <span ng-bind-html="hotel.CourtSports"></span>
                    <span ng-bind-html="hotel.SeaSports"></span>
                    <span ng-bind-html="hotel.Riding"></span>
                    <span ng-bind-html="hotel.Golf"></span>
                    <span ng-bind-html="hotel.Gym"></span>
                    <span ng-bind-html="hotel.Spa"></span>
                    <span ng-bind-html="hotel.Childrens"></span>
                    <span ng-bind-html="hotel.Pets"></span>
                    <span ng-bind-html="hotel.Wifi"></span>
                    <span ng-bind-html="hotel.SETE"></span>
                    <span ng-bind-html="hotel.outdoorpool"></span>
                    <span ng-bind-html="hotel.EurobankReturn"></span>
                    <span ng-bind-html="hotel.Business"></span>
                    <span ng-bind-html="hotel.Conference"></span>
                    <span ng-bind-html="hotel.InDoorPool"></span>
                    <span ng-bind-html="hotel.PrivateBeach"></span>
                    <span ng-bind-html="hotel.CourtSports"></span>
                    <span ng-bind-html="hotel.SeaSports"></span>
                    <span ng-bind-html="hotel.Riding"></span>
                    <span ng-bind-html="hotel.Golf"></span>
                    <span ng-bind-html="hotel.Gym"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="border-bot">
                    <span class="section">Η αξιολόγηση του Alpha Guide</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{hotel.GrText}}
                </td>
            </tr>
            </tbody>
        </table>

    </ion-content>
</ion-view>

