<!--
  This template loads for the 'tab.restaurant-detail' state (app.js)
  'restaurant' is a $scope variable created in the RestaurantsCtrl controller (controllers.js)
  The RestaurantsCtrl pulls data from the Restaurants service (service.js)
  The Restaurants service returns an array of restaurant data
-->

<ion-view title="{{restaurant.GrName}}">
  <ion-content has-header="true" padding="true">
      {{restaurant.GrName}}<br/>
      {{restaurant.GrOpenPeriod}}<br/>
  </ion-content>
</ion-view>
