<ion-view title="Hotels">
    <ion-content class="padding">
        <label for="filterByName">Search by hotel name:<label><br/><input ng-model="filterExpr.name" name="filterByName">
        <label for="filterByRegion">Search by hotel region:<label><br/><input ng-model="filterExpr.region" name="filterByRegion">
        
        <span class="filtered-length">Showing {{filtered.length}} results</span>
        <ion-list ng-show="filterExpr">
            <ion-item ng-repeat=" hotel in filtered = (hotels | filter: filterExpr) " type="item-text-wrap" href="#/tab/hotel/{{hotel.id}}">
                {{hotel.name}}, {{hotel.region}}, {{hotel.address}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
