<ion-view title="Restaurants">
    <ion-content class="padding">

        <label for="filterByRegion">Search by region:</label><input ng-model="filterExpr.ParentAreaName" name="filterByRegion" id="filterByRegion">
        <label for="filterByName">Search by restaurant name:</label><input ng-model="filterExpr.GrName" name="filterByName" id="filterByName">

        
        <span class="filtered-length">Showing {{filtered.length}} results</span>
        <dir-pagination-controls></dir-pagination-controls>
        <div style="height:100px">
            <a dir-paginate="restaurant in filtered = (restaurants | filter:filterExpr) | orderBy: 'GrPhonetic' | itemsPerPage: 5" total-items="14" href="#/tab/restaurant/{{restaurant.REC_Id}}">
                <table cellspacing="0" cellpadding="0" border="0" width="100%" class="alphaguide-list-table">
                    <tbody>
                        <tr class="head">
                            <td>
                                <span class="title">{{restaurant.GrName}}</span>
                            </td>
                            <td style="text-align:right;">
                                <span class="prize hat">{{restaurant.GoldenCaps}}</span>
                                <span class="votes">{{restaurant.Degree}}</span><span class="vote-max">20</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="category">{{restaurant.TCAT_GRDESCR}}</span><br>
                                <span ng-bind-html="restaurant.GrAddress"></span>
                                <b>Τηλ:</b> <span ng-bind-html="restaurant.PhoneNo"></span>
                                <b>Ανοικτά:</b> {{restaurant.GrOpenPeriod}}
                            </td>
                            <td style="text-align:right;">
                                <span class="nomos">{{restaurant.ParentAreaName}}</span><br>
                                <span class="topos">{{restaurant.D_Description}}</span><br>
                                <span class="price">{{restaurant.PriceFrom}} - {{restaurant.PriceTo}} &euro;</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </div>
    </ion-content>
</ion-view>
