<ion-view title="Hotels">
    <ion-content class="padding">

        <select ng-model="filterExpr.ParentAreaName" name="filterByRegion">
            <option value="" disabled selected>Select by region</option>
            <option value="Κυκλάδες" selected>Κυκλάδες</option>
            <option value="Σποράδες">Σποράδες</option>
        </select><br>
        <input ng-model="filterExpr.GrName" name="filterByName" id="filterByName" placeholder="Search by hotel name">
        
        <span class="filtered-length">Showing {{filtered.length}} results</span>
        <a ng-repeat="hotel in filtered = (hotels | filter:filterExpr) | orderBy: 'GrPhonetic' " type="item-text-wrap" href="#/tab/hotel/{{hotel.REC_Id}}">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" class="alphaguide-list-table">
                <tbody>
                <tr class="head">
                    <td>
                        <span class="title">{{hotel.GrName}}</span>
                    </td>
                    <td style="text-align:right;">
                        <span ng-bind-html="hotel.KEYS"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span ng-bind-html="hotel.GrAddress"></span>
                        <b>Τηλ:</b> <span ng-bind-html="hotel.PhoneNo"></span><br>
                        <b>Ανοικτά:</b> <span ng-bind-html="hotel.GrOpenPeriod"></span><br>
                        <b>Δωμάτια:</b> <span ng-bind-html="hotel.GrRooms"></span>
                    </td>
                    <td style="text-align:right;">
                        <span class="nomos">{{hotel.ParentAreaName}}</span><br>
                        <span class="topos">{{hotel.D_Description}}</span><br>
                        <span class="price">{{hotel.PriceFrom}} - {{hotel.PriceTo}} &euro;</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </a>
    </ion-content>
</ion-view>
