<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="Alphaguide" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
  <ion-tab title="Restaurants" icon="icon ion-wineglass" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Hotels" icon="icon ion-location" href="#/tab/hotels">
    <ion-nav-view name="tab-hotels"></ion-nav-view>
  </ion-tab>


</ion-tabs>
